.input {
    padding: 6px 10px;
    border-radius: 7px;
    outline: 1px solid var(--color-border);
    border: none;
    transition: outline-color 0.25s ease-in-out;
}

.input:hover {
    outline: 1px solid var(--color-primary);
}

.input:focus {
    outline: 1px solid var(--color-primary);
}

