@layer waah-ui {
    :root {
        --color-text: hsl(222deg, 22%, 5%);
        --color-background: hsl(0deg, 0%, 100%);
        --color-primary: hsl(245deg, 100%, 60%);
        --color-secondary: hsl(333deg, 100%, 45%);
        --color-info: hsl(245deg, 100%, 60%);
        --color-success: hsl(160deg, 100%, 40%);
        --color-error: hsl(340deg, 95%, 50%);
        --color-alert: hsl(37deg, 100%, 50%);
    }
}
